{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    
    <style>
    
            .rectangle {
                background-color:lavender;
                width: 60%;
                height: 100px;
                border-radius:20px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: nowrap;
                flex-direction: column;
            }
            
            body{
                background-color:#ffaaab;
            }
            

    </style>
</head>
<body >
    <nav id="navbar">
        <div id="logo">
            <img src="{% static 'images/logo.jpg' %}" alt="default">
        </div>
            <ul>
                <li class="item"><a href="/o">HOME</a> </li>
                <li class="item"><a href="/r">ABOUT</a> </li>
                <li class="item"><a href="/s">STUDENT </a> </li>
                <li class="item"><a href="/f">FACULTY</a> </li>
                <li class="item"><a href="/e">EVENT</a> </li>

            </ul>

        
    </nav>
    <nav id="navtwo">
        <div class="rectangle">
    
           {% block para %} 
           <h4 id="center" >BCIIT NEWS PORTAL </h4> 
           {% endblock %}
            
            
    </div>
    </nav>
    
    
    
       
        {% block  content %}
        {% endblock %}
</body>
</html>