{% extends 'testapp/base.html'%}
{%  load static %}

{% block content %}
            
    

        

<section class="alto">

    <div id="container">
        <div class="box">
            <h1>STUDENT NEWS</h1>
        
            <a href='/s'> <button id="button">ABOUT</button></a>
            

        </div>
        <div class="box">
            <h1>FACULTY NEWS</h1>
        
            <a href='/f'> <button id="button">ABOUT</button></a>
            

        </div>
        <div class="box">
            <h1>EVENT NEWS</h1>
        
            <a href='/e'> <button id="button">ABOUT</button></a>
            

        </div>
    </div>
    
</section>
        
        
      {% endblock %}  
        
